body {
    background-color: white;
/*     overflow: hidden; */
}

.Number-Blocks {
    border: 2px solid red;
    height: 10px;
    width: 25px;
}

#ABOUT {
    background-color: rgb(255, 198, 112);
    text-align: center;
    width: 750px;
    height: 325px;
    border: 5px solid maroon;
    margin: auto;
    position: relative;
    font-size: 75px;
    margin-top: 100px;
}

#a {
    padding: 150px;
    text-align: center;
    position: relative;
    left: -240px;
    top: 15px;
}

#b {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 75px;
    font-size: 25px;
    position: fixed;
    top: 200px;
    left: 400px;
}

#c {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 60px;
    position: fixed;
    top: 125px;
    left: 470px;
}

#d {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 75px;
    font-size: 25px;
    position: fixed;
    top: 200px;
    left: 530px;
}

#e {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 60px;
    position: fixed;
    top: 125px;
    left: 600px;
}


#f {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 75px;
    font-size: 25px;
    position: fixed;
    top: 200px;
    left: 665px;
}

#g {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 60px;
    position: fixed;
    top: 125px;
    left: 730px;
}

#h {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 75px;
    font-size: 25px;
    position: fixed;
    top: 200px;
    left: 790px;
}

#i {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 60px;
    position: fixed;
    top: 125px;
    left: 860px;
}



#j {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 65px;
    position: fixed;
    top: 170px;
    left: 400px;
}

#k {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 70px;
    font-size: 25px;
    position: fixed;
    top: 245px;
    left: 470px;
}

#l {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 65px;
    position: fixed;
    top: 170px;
    left: 530px;
}

#m {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 69px;
    font-size: 25px;
    position: fixed;
    top: 245px;
    left: 600px;
}

#n {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 61px;
    position: fixed;
    top: 170px;
    left: 665px;
}

#o {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 67.5px;
    font-size: 25px;
    position: fixed;
    top: 240px;
    left: 745px;
}

#p {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 65px;
    position: fixed;
    top: 165px;
    left: 810px;
}

#q {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 70px;
    font-size: 25px;
    position: fixed;
    top: 235px;
    left: 885px;
}














#bA {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 75px;
    font-size: 25px;
    position: fixed;
    top: -100px;
    left: -40px;
}

#cA {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 60px;
    position: fixed;
    top: 100px;
    left: 260px;
}

#dA {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 75px;
    font-size: 25px;
    position: fixed;
    top: 100px;
    left: 137px;
}

#eA {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 59px;
    position: fixed;
    top: 100px;
    left: 395px;
}


#fA {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 49px;
    width: 71px;
    font-size: 25px;
    position: fixed;
    top: 100px;
    left: 269px;
}

#gA {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 58px;
    position: fixed;
    top: 100px;
    left: 525px;
}

#hA {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 75px;
    font-size: 25px;
    position: fixed;
    top: 100px;
    left: 400px;
}

#iA {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 60px;
    position: fixed;
    top: 100px;
    left: 658px;
}



#jA {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 65px;
    position: fixed;
    top: 100px;
    left: 191px;
}

#kA {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 70px;
    font-size: 25px;
    position: fixed;
    top: 100px;
    left: 70px;
}

#lA {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 65px;
    position: fixed;
    top: 100px;
    left: 325px;
}

#mA {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 69px;
    font-size: 25px;
    position: fixed;
    top: 100px;
    left: 204px;
}

#nA {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 61px;
    position: fixed;
    top: 100px;
    left: 459px;
}

#oA {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 67.5px;
    font-size: 25px;
    position: fixed;
    top: 100px;
    left: 334px;
}

#pA {
    background-color: rgb(0, 194, 0);
    color: maroon;
    border: 5px solid mediumblue;
    height: 40px;
    width: 65px;
    position: fixed;
    top: 100px;
    left: 588px;
}

#qA {
    background-color: lawngreen;
    color: maroon;
    border: 5px solid mediumblue;
    height: 50px;
    width: 70px;
    font-size: 25px;
    position: fixed;
    top: 100px;
    left: 468px;
}

#a B {
    position: relative;
    top: -3700px;
    font-size: 1000px;
    color: black;
}



#vijay {
    height: 50px;
    width: 500px;
    margin-top: 100px;
    font-size: 30px;
    border: 5px solid blue;
    background-color: cyan;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
    position: relative;
    left: 32%;
}

#mehta {
    height: 100px;
    width: 100%;
    margin-top: 0px;
    color: transparent;
}
